/*------------------------------------------------------------------
Table of contents

    1. Sticky header
    2. Global styles
        2.1 Button styles
    3. Typography
    4. Hero slider
    5. Series slider
    6. Image block
    7. Image slider
    8. Footer
    9. Media queries

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
   1. Sticky header
-------------------------------------------------------------------*/

.logo,
.navbar {
	padding: 0 10px;
}

.navbar {
	background-color: #1d1d1f;
}

.navbar a {
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
	padding: 0 15px;
}

.navbar a:hover,
.footer a:hover {
	color: #0071e3;
}

.bag-btn-icon {
	background: url('images/bag.svg');
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	height: 44px;
	padding: 12px;
}


/*------------------------------------------------------------------
   2. Global styles
-------------------------------------------------------------------*/

body {
	font-family: "Helvetica Neue", "Helvetica", "Arial";
}


/*--------------------------
   2.1 Button styles
----------------------------*/

.btn {
	cursor: pointer;
	border-radius: 50px;
}

.btn-primary {
	background-color: transparent;
	border: 2px solid #ffffff;
	padding: 10px 40px;
	font-size: 20px;
	text-transform: uppercase;
}

.btn-primary-child {
	background-color: #000000;
	padding: 10px 40px;
	font-size: 18px;
	color: #ffffff;
	margin-top: 10px;
}

.btn-secondary {
	background-color: #ffffff;
	padding: 10px 40px;
	font-size: 18px;
	color: #000000;
	text-transform: capitalize;
}

.btn-success {
	background-color: #0071e3;
	padding: 5px 25px;
	font-size: 13px;
	border: none;
}

.btn-success span {
	vertical-align: middle;
	color: #ffffff;
}

.btn-primary-child:hover,
.btn-primary:hover {
	background-color: #004f9f;
	border-color: #004f9f;
	color: #ffffff;
}

.btn-secondary:hover {
	background-color: #0071e3;
}

.btn-success:hover {
	color: #ffffff;
	background-color: #004f9f;
	border-color: #004f9f;
}


/*------------------------------------------------------------------
   3. Typography
-------------------------------------------------------------------*/

h1,
h2,
h3 {
	font-family: 'Helvetica';
	line-height: 1.05;
	font-weight: 700;
	letter-spacing: -0.015em;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 50px;
	margin-bottom: 15px;
}

h3 {
	font-size: 20px;
	color: #ffffff;
}

input[type="text"]:focus {
	background-color: #e3fde4;
}


/*------------------------------------------------------------------
   4. Hero slider 
-------------------------------------------------------------------*/

.slider-image {
	height: 600px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.slider-image:nth-child(1) {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./images/bg-1.jpeg");
}

.slider-image:nth-child(2) {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./images/bg-2.jpeg");
}

.slider-image:nth-child(3) {
	background: #000000;
}

.slider-content {
	color: #ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.slick-slide img {
	display: initial;
}

.slick-dots {
	bottom: 0px;
}

.slick-dots li img:nth-child(1),
.slick-dots li.slick-active img:nth-child(2) {
	display: block;
}

.slick-dots li.slick-active img:nth-child(1),
.slick-dots li img:nth-child(2) {
	display: none;
}

.slick-dots li {
	margin: 0;
}


/*------------------------------------------------------------------
   5. Series slider
-------------------------------------------------------------------*/

.series-slider {
	padding-left: 160px;
	padding-bottom: 30px;
}

.series-slider img {
	border-radius: 10px;
}

.series-slider-wrap .slick-slide,
.image-slider-wrap .slick-slide {
	margin-right: 20px;
}

.series-slider-wrap {
	background-color: #000000;
}

.series-slider-header {
	color: #ffffff;
	text-align: left;
	padding: 35px 160px;
}

.series-slider-header h2 {
	margin: 0;
	display: inline-block;
}

.series-slider-header button {
	float: right;
}

.arrow {
	height: 12px;
	width: 30px;
	display: inline-block;
}

.arrow-right-black {
	background: url('./images/arrow-right-black.png') no-repeat;
	background-position: right;
	background-repeat: no-repeat;
}

.arrow-right-white {
	background: url('./images/arrow-right-white.png') no-repeat;
	background-position: right;
}

.series-slider p {
	color: white;
	text-align: left;
	font-size: 16px;
	margin-top: 10px;
}


/*------------------------------------------------------------------
   6. Image block and Image columns
-------------------------------------------------------------------*/

.vb-padding {
	padding: 0 35px;
}

.image-columns img {
	border-radius: 10px;
}


/*------------------------------------------------------------------
   7. Image slider
-------------------------------------------------------------------*/

.image-slider-wrap .slick-arrow {
	z-index: 1;
}

.image-slider-wrap .slick-prev {
	left: 20px;
}

.image-slider-wrap .slick-next {
	right: 20px;
}

.image-slider-wrap .slick-prev:before,
.slick-next:before {
	font-size: 45px;
	color: #0071e3;
}

.image-slider-wrap .slick-prev,
.slick-next {
	width: 60px;
	height: 100px;
}


/*------------------------------------------------------------------
   8. Footer
-------------------------------------------------------------------*/

.footer {
	background: #1d1d1f;
	height: 100%;
	padding: 50px 0;
}

.footer ul {
	padding-left: 0px;
}

.footer li {
	list-style: none;
}

.footer a {
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
}

.footer .social {
	margin-top: 10px;
}

.copyright {
	background: #ffffff;
	padding: 20px;
}

.copyright p {
	margin: 0;
	color: #666666;
}


/*------------------------------------------------------------------
   9. Media queries
-------------------------------------------------------------------*/

@media (max-width: 991px) {
	.navbar-collapse li {
		padding: 20px;
		border-bottom: solid #ffffff 1px
	}
	.navbar-collapse li a {
		font-size: 25px;
	}
	.my-2.my-lg-0 {
		display: none;
	}
	.series-slider-header .btn-secondary {
		display: none;
	}
	.footer {
		height: 100%;
		text-align: center;
	}
}

@media (max-width: 769px) {
	h1 {
		font-size: 40px;
	}
	h2 {
		font-size: 25px;
	}
	.series-slider-header {
		padding: 35px 20px;
	}
	.series-slider {
		padding-left: 20px;
	}
}